<div class="about">
	<h1>Hello,</h1>
	<br>
	<h2>Hope you are enjoying the CodeColab app !</h2>
	<br>
	<h3>You can find some useful apps and more about me <a href="https://awesome-noyce-737f26.netlify.app/">here </a>...</h3>
	<br>
	<h6>If you find any bugs, please report it <a href="mailto:lapi.work.2019@gmail.com">here</a> :)</h6>
</div>