<form class="form-signin" method="POST">

	<br>
	<h2 class="form-signin-heading text-center"><i class="fas fa-users"></i> New Account</h2>
	<br>

	{{#each errorMessages }}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		{{ this.msg }}
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	</div>
	
	{{/each}}

	<br>
	<input type="text" name="name" class="form-control" placeholder="Name" required autofocus="">
	<br>
	<input type="email" name="email" class="form-control" placeholder="Email" required autofocus="">
	<br>
	<input type="password" name="password" class="form-control" placeholder="Password" required>
	<br>
	<input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password" required>
	<br>
	<button type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>
	<br>
	<h4 class="text-center">Or</h4>
	<br>
	<a href="/auth/facebook" class="btn btn-lg btn-success btn-block">Sign Up with Facebook <i class="fab fa-facebook"></i></a>
</form>