body {
  font: 14px;
	overflow-x: hidden;
}

.navbar{
	font-size: larger;
	background-color: rgb(39, 143, 108) !important;
}

.navbar-brand {
	margin: .3rem;
	font-size: 1.7rem;
	font-family: sans-serif;
	margin-left: 1rem;
	margin-right: 2rem;
}

.nav.navbar-nav.navbar-right li a {
		font-weight: 600;
}

.navlinks {
	font-size: 1.2rem;
	margin-right: 1rem;
}

.navlinks:hover {
	font-size: 1.22rem;
}

.jumbotron {
	background-color: rgb(124, 243, 183);
}

.main-heading {
	text-align: center;
	word-spacing: .2rem;
	font-size: 3rem;
	margin: 3rem;
}

.main-subheading {
	text-align: center;
	margin: 3rem ;
	font-size: 1.5rem;
}

.alert{
	width: 70%;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
	align-self: center;
}

.alertregister {
	width: 100%;
}

.adminuser {
	margin: 0 5rem 0 0;
}

.login,
.register {
	margin: 0 1rem;
	font-size: 1.2rem;
	font-weight: 500;
}

.adminuser a{
color: rgb(24, 24, 22);
}

dropdown-menu li a{
	text-align: center;
	align-items: center;
}

.contact {
	margin: 1rem;
}

.form-contact {
	max-width: 45rem;
	padding: 15px;
	margin: 0 auto;
}

.form-signin {
	max-width: 25rem;
	padding: 15px;
	margin: 0 auto;
}

.about {
	margin: 2rem;
	text-align: center;
}

.about h6 {
	position: absolute;
	bottom: 6%;
	left: 50%;
	transform: translateX(-50%);
}

.editor {
	padding:2rem 0;
}

#chatbox {
	padding:2rem 2rem 2rem 1rem;
}

.media-list {
	height: 320px;
}

footer {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0%;
}

.foot {
	color: rgba(64, 134, 125, 0.6);
	width: 65%;
	font-weight: 600;
	font-size: 1rem;
	display: flex;
	justify-content: center;
	justify-items: center;
}
