body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

.navbar{
	font-size: larger;
}

.jumbotron {
	background-color: rgb(124, 243, 183);
}

.alert{
	width: 70%;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
	align-self: center;
}

.alertregister {
	width: 100%;
}

.adminuser {
	margin: 0 5rem 0 0;
}

.login,
.register {
	margin: 0 1rem;
	font-size: 1.2rem;
	font-weight: 500;
}

.adminuser a{
color: rgb(24, 24, 22);
}

dropdown-menu li a{
	text-align: center;
	align-items: center;
}

.form-signin {
	max-width: 25rem;
	padding: 15px;
	margin: 0 auto;
}

.editor {
	padding:2rem 0;
}

#chatbox {
	padding:2rem 2rem 2rem 1rem;
}

.media-list {
	height: 250px;
}