body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar{
	font-size: larger;
}

.jumbotron {
	background-color: rgb(124, 243, 183);
}

.alert{
	width: 70%;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
	align-self: center;
}

